# {{ ansible_managed }}

# This is a user specific ssh_config file.

### global: see file defaults/main.yml

Host *
  IdentityFile ~/.ssh/{{ item.name }}_{{ ansible_hostname }}
{% for key, value in user_ssh_config_defaults.iteritems() %}
  {{key}} {{value}}
{% endfor %}

### per hosts conf: see <user>_ssh_config.yml

{% for config in item.ssh_config %}
{% if config.Host is defined %}
Host {{config.Host}}
{% else %}
Match {{ config.Match }}
{% endif %}
{% for key, value in config|dictsort %}
{% if key|lower != "host" and key|lower != 'match' %}
  {{key}} {{value}}
{% endif %}
{% endfor %}

{% endfor %}
