{% set ssh_config = item.ansible_facts.ssh_config %}
{% set username = item.item.name %}
# {{ansible_managed}}

### Global defaults

Host *
  IdentityFile ~/.ssh/{{username}}.{{ansible_domain}}
{% for key, value in users_defaults.ssh_config.iteritems() %}
  {{key}} {{value}}
{% endfor %}

{# generate more specific statements on machines of type workstations #}
{% if users_generate_ssh_keys %}
### per host//match patterns configuration
### see file on control machine: {{groups_dir}}/{{username}}_ssh_config.yml

{% for config in ssh_config %}
{% if config.Host is defined %}
Host {{config.Host}}
{% else %}
Match {{config.Match}}
{% endif %}
{% for key, value in config|dictsort %}
{% if key|lower != "host" and key|lower != 'match' %}
  {{key}} {{value}}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
