{# sudoers file for a unix group #}
{% if usergroup.nopasswd is defined %}
{{'%'}}{{usergroup.name}} ALL=(ALL) NOPASSWD: {{usergroup.nopasswd}}
{% elif usergroup.sudoers is defined and usergroup.sudoers %}
{{'%'}}{{usergroup.name}} ALL=(ALL) ALL
{% endif %}
{# Defaults:%{{usergroup.name}} !requiretty #}
