{% if "workstations" in group_names %}
{{'%'}}{{usergroup.name}} ALL=(ALL) NOPASSWD: ALL
{% elif usergroup.sudoers is defined and usergroup.sudoers %}
{{'%'}}{{usergroup.name}} ALL=(ALL) ALL
{% endif %}
{# Defaults:%{{usergroup.name}} !requiretty #}
